@font-face {
    font-family: "kotraHope";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/kotraHope/kotraHope.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/kotraHope/kotraHope.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/kotraHope/kotraHope.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/kotraHope/kotraHope.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/kotraHope/kotraHope.ttf") format("truetype");
    font-display: swap;
}
.kotraHope {
    font-family: "kotraHope";
}